@charset "utf-8";
@import "_mixin";
@import "_variable";

.none-enter-active, .none-leave-active {transition: none;}

.popup-enter-active {transition: all 300ms; opacity: 0; transform: translateY(100px);}
.popup-enter-to {opacity: 1; transform: translateY(0);}